celery==4.3.0
Django==2.2.5
mysqlclient==1.4.4
redis==3.3.8
requests==2.22.0

# development and testing
pytest==5.1.2
pytest-django==3.5.1
pytest-mock==1.10.4
watchdog==0.9.0
flake8==3.7.8
ipdb==0.12.2
